@import '_mixins.scss';
@import '_variables.scss';



@for $i from 1 through 5{
    .flex-#{$i}{
        flex:$i;
    }
}

.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
    &-grey{
       @include  bgColor($curtain)
    }
}

.absolute{
    position:absolute;
}