//Theme colors
$theme-color: #20728a;
$curtain:#eee;

//Admin font-color
$admin-ft:rgba(233, 220, 220, 0.9);


//for font-weight
$fw1:100;
$fw2:200;
$fw3:300;
$fw4:400;
$fw5:500;
$fw6:600;
$fw7:700;
$fw8:800;
$fw9:900;

//values
$total:100%;
