@import '../partials/mixins';
@import '../partials/variables';
@import '../partials/layouts';
//admin content section
.fullpage{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.admin-page{
    margin: 0;
    padding: 0;
    @include display(flex);

    & .template-content{
        width:100%;
        font-family: 'Raleway';
        height: 100%;
        margin: 0;
        padding: 0;
        overflow:auto;
        @include bgColor($curtain);
        & .role-details{
            height: 60px;
            margin: 0;padding: 10px;
            background-color: white;
            margin-bottom: 20px;
            position: relative;
            & .role-contents{
                width:88%;
                margin: 0 auto;
                position: relative;
            }
        }
        &::-webkit-scrollbar {
            width: .5em;      
         }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
         }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(41, 48, 102, 0.323);
            outline: 1px solid slategrey;
            border-radius:30px;
         }
    }
}

//role content
.role-contents{
    display: flex;
    position: relative;
   
    & .role{
        & button{
            font-size: 14px;
            color:#138;
            position: relative;
            top:20px;
            padding: 5px;
            background-color: transparent;
            border:none;
            cursor: pointer;
            @include fontW($fw7);
            font-family: 'Raleway';
            &:hover{
             color: #13b;
             font-weight: 900;
            }
        }
        & .corporate-btn,.user{
            margin-left: 10px;
        }
    }
    & .role-profile{
        font-size:13px;
        display: flex;
        justify-content: flex-end;
        & .name,.avatar,.menu-click{
            display: inline-block;
            padding: 10px;
        }
        & .menu-click{
            text-align: left;
        }
        & .name{
            position: relative;
            & h4{
                position: relative;
                top:15px;
               
            }
        }
        & .avatar{
            width:40px;
            background: #ccc;
            height:40px;
            border-radius: 40px;
        }
        & .menu-click{
            & i{
                position: relative;
                font-size:15px;
                top:5px;
                left:6px;
            }
        }
    }
}